<section class="top-bar">
    <!-- Logo -->
    <div class="logo">
        <img src="./assets/icons/logo.svg" alt="" />
        <h1 class="logo__title">grocerymart</h1>
    </div>
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__list">
            <li>
                <a href="" class="navbar__link">Departments</a>
                <img
                    class="navbar__arrow"
                    src="./assets/icons/arrow-down.svg"
                    alt=""
                />
            </li>
            <li>
                <a href="" class="navbar__link">Grocery</a>
                <img
                    class="navbar__arrow"
                    src="./assets/icons/arrow-down.svg"
                    alt=""
                />
            </li>
            <li>
                <a href="" class="navbar__link">Beauty</a>
                <img
                    class="navbar__arrow"
                    src="./assets/icons/arrow-down.svg"
                    alt=""
                />
            </li>
        </ul>
    </nav>
</section>
