html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%)
        saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%);
      
        --header-bg-color: #171C28;
        --top-act-group-bg: #292E39;
        --top-act-group-shadow: rgba(0, 0, 0, 0.20);
        --top-act-group-separate-bg: #EDEDF6;
}
