
%flexItemCenter {
    display: flex;
    align-items: center;
}

.header {
    background-color: #eee;
}

/* Top Bar */
.top-bar {
    @extend %flexItemCenter;
    padding: 30px 0;
}

.navbar {
    margin-right: auto;
    margin-left: 144px;
    &__list {
        @extend %flexItemCenter;
        gap: 30px;
    }

    &__link {
        @extend %flexItemCenter;
        gap: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__arrow {
        margin-top: 4px;
    }
}

.top-act {
    @extend %flexItemCenter;
    gap: 20px;

    &__group {
        min-width: 50px;
        height: 50px;
        @extend %flexItemCenter;
        border-radius: 8px;
        background:  #fff;
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    }

    &__group--single  &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flexItemCenter;
        gap: 10px;
        padding: 13px 20px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width: 1px;
        height: 30px;
        background:  #EDEDF6;
    }

    &__avatar {
        display: block;
        border-radius: 8px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
}
