@use '../abstracts';

.logo {
    display: flex;
    align-items: center;
    gap: 14px;

    @include abstracts.breakpoint(lg){
        width: 32px;
        gap: 10px;
        margin-left: 40px;
    }

    @include abstracts.breakpoint(md){
        justify-content: center;
        margin-left: 0;
    }


    & .logo__title {
        color: var(--text-color);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;

        @include abstracts.breakpoint(lg){
            font-size: 1.8rem;
            line-height: 144.444%;
        }
    }

    &__img {
        width: 32px;
        @include abstracts.breakpoint(sm){
            width: 24px;
        }
    }
    
   
}