@use '../abstracts';

.logo {
    display: flex;
    align-items: center;
    gap: 14px;

    @include abstracts.breakpoint(lg){
        width: 32px;
        gap: 10px;
    }

    & .logo__title {
        color: var(--text-color);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;

        @include abstracts.breakpoint(lg){
            font-size: 1.8rem;
            line-height: 144.444%;
        }
    }
}