<div class="container">
    <section class="top-bar">
        <!-- More -->
        <div class="top-bar__more">
            <img
                class="icon top-bar__more-icon"
                src="./assets/icons/menu.svg"
                alt=""
            />
        </div>
        <!-- Logo -->
        <a href="./" class="logo">
            <img class="logo__img" src="./assets/icons/logo.svg" alt="" />
            <h1 class="logo__title">grocerymart</h1>
        </a>
        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="" class="icon navbar__link"
                        >Departments
                        <img
                            class="icon navbar__arrow"
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                        />
                    </a>

                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem 1 ipsum, dolor sit amet consectetur
                            adipisicing elit. Doloremque minima reiciendis esse
                            consectetur natus temporibus laudantium ab quam
                            itaque quisquam deleniti excepturi nulla, impedit
                            recusandae veritatis, aut voluptas nostrum mollitia.
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="" class="icon navbar__link"
                        >Grocery
                        <img
                            class="navbar__arrow"
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                        />
                    </a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem 2 ipsum, dolor sit amet consectetur
                            adipisicing elit. Doloremque minima reiciendis esse
                            consectetur natus temporibus laudantium ab quam
                            itaque quisquam deleniti excepturi nulla, impedit
                            recusandae veritatis, aut voluptas nostrum mollitia.
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="" class="icon navbar__link"
                        >Beauty
                        <img
                            class="navbar__arrow"
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                    /></a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem 3 ipsum, dolor sit amet consectetur
                            adipisicing elit. Doloremque minima reiciendis esse
                            consectetur natus temporibus laudantium ab quam
                            itaque quisquam deleniti excepturi nulla, impedit
                            recusandae veritatis, aut voluptas nostrum mollitia.
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Action -->
        <div class="top-act">
            <div class="top-act__group top-act__group--single">
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/search.svg"
                        alt=""
                        class="icon top-act__icon"
                    />
                </button>
            </div>
            <div class="top-act__group">
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/heart.svg"
                        alt=""
                        class="icon top-act__icon"
                    />
                    <span class="top-act__title">03</span>
                </button>
                <div class="top-act__separate"></div>
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/buy.svg"
                        alt=""
                        class="icon top-act__icon"
                    />
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>
            <div class="top-act__user">
                <img
                    src="../assets/img/avatar.jpg"
                    alt=""
                    class="top-act__avatar"
                />
            </div>
        </div>
    </section>
</div>
